<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive={exact:true} routerLinkActive="active" routerLink="/">HSA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLinkActive="active" routerLink="/buy-property">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLinkActive="active" routerLink="/rent-property">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/add-property">List porpert(free)</a>
        </li>


      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button type="button" mdbBtn color="success" mdbWavesEffect>  <mdb-icon fas icon="search"></mdb-icon></button> -->
        <button class="btn btn-outline-success" type="submit">
          <mdb-icon fas icon="search"></mdb-icon>
        </button>
      </form>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li *ngIf="loggedIn()"class="nav-item">
          <a class="nav-link"  >

            <div class="btn-group mx-4" mdbDropdown>
              Welcome {{loggedInUser}} &nbsp;

              <mdb-icon fas icon="user" classInside="dropdown-toggle " mdbDropdownToggle class="waves-effect"
                        mdbWavesEffect></mdb-icon>
              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" routerLink="/"><mdb-icon fas icon="tachometer-alt"></mdb-icon>view Dashboard</a>
                <a class="dropdown-item" href="#"><mdb-icon fas icon="user-circle"></mdb-icon>profile</a>
                <a class="dropdown-item" href="#"><mdb-icon fas icon="key"></mdb-icon>password Change</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" (click)="loggedout()" ><mdb-icon fas icon="sign-out-alt"></mdb-icon>Logout</a>
              </div>
            </div>
          </a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/user/register" >Register</a>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="/user/login" >Login</a>
        </li>


      </ul>
    </div>
  </div>
</nav>
