/* .ng-vaild{
   border-color:red;
} */

.photo-control{
  min-height: 300px;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed blue;
  margin: 5px;
}
.card-header{
  width: auto;
}
/* .btn-group > label[ng-reflect-btn-radio]{
  border-radius: 44px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  -o-border-radius: 44px;
  padding: 0 15px;
  line-height: 30px !important;
} */
